<div style='border: 3px solid blue'>
  <% if @visitor %>
    hello, <%= @visitor %>!
  <% else %>
    <form action="/hello">
    My name is <%= @name %>.
    What's your name?
    <input type="text" name="name">
    <input type="submit">
    </form>
  <% end %>
  <img src= 'http://localhost:4567/images/dog.png'
</div>